<div>
  <h2 id="page-heading" data-cy="TransactionGroupHeading">
    <span jhiTranslate="donorunApp.transactionGroup.home.title">Transaction Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="donorunApp.transactionGroup.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-group"
        [routerLink]="['/transaction-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donorunApp.transactionGroup.home.createLabel"> Create a new Transaction Group </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactionGroups?.length === 0">
    <span jhiTranslate="donorunApp.transactionGroup.home.notFound">No transactionGroups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactionGroups && transactionGroups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amountOfMoney">
            <span jhiTranslate="donorunApp.transactionGroup.amountOfMoney">Amount Of Money</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="message">
            <span jhiTranslate="donorunApp.transactionGroup.message">Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wasPaid">
            <span jhiTranslate="donorunApp.transactionGroup.wasPaid">Was Paid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateOfPayment">
            <span jhiTranslate="donorunApp.transactionGroup.dateOfPayment">Date Of Payment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="donorunApp.transactionGroup.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipient.id">
            <span jhiTranslate="donorunApp.transactionGroup.recipient">Recipient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let transactionGroup of transactionGroups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction-group', transactionGroup.id, 'view']">{{ transactionGroup.id }}</a>
          </td>
          <td>{{ transactionGroup.amountOfMoney }}</td>
          <td>{{ transactionGroup.message }}</td>
          <td>{{ transactionGroup.wasPaid }}</td>
          <td>{{ transactionGroup.dateOfPayment | formatMediumDatetime }}</td>
          <td>{{ transactionGroup.createdDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="transactionGroup.recipient">
              <a [routerLink]="['/money-recipient', transactionGroup.recipient?.id, 'view']">{{ transactionGroup.recipient?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction-group', transactionGroup.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction-group', transactionGroup.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transactionGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
