<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="setting">
      <h2 data-cy="settingDetailsHeading"><span jhiTranslate="donorunApp.setting.detail.title">Setting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ setting.id }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.setting.code">Code</span></dt>
        <dd>
          <span>{{ setting.code }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.setting.description">Description</span></dt>
        <dd>
          <span>{{ setting.description }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.setting.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'donorunApp.ValueType.' + setting.type }}">{{ setting.type }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.setting.value">Value</span></dt>
        <dd>
          <span>{{ setting.value }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.setting.company">Company</span></dt>
        <dd>
          <div *ngIf="setting.company">
            <a [routerLink]="['/company', setting.company?.id, 'view']">{{ setting.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/setting', setting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
