<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="moneyRecipient">
      <h2 data-cy="moneyRecipientDetailsHeading"><span jhiTranslate="donorunApp.moneyRecipient.detail.title">Money Recipient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ moneyRecipient.id }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.moneyRecipient.name">Name</span></dt>
        <dd>
          <span>{{ moneyRecipient.name }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.moneyRecipient.description">Description</span></dt>
        <dd>
          <span>{{ moneyRecipient.description }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.moneyRecipient.avatarUrl">Avatar Url</span></dt>
        <dd>
          <span>{{ moneyRecipient.avatarUrl }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.moneyRecipient.siteUrl">Site Url</span></dt>
        <dd>
          <span>{{ moneyRecipient.siteUrl }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.moneyRecipient.recipientType">Recipient Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'donorunApp.RecipientType.' + moneyRecipient.recipientType }}">{{ moneyRecipient.recipientType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/money-recipient', moneyRecipient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
