<div>
  <h2 id="page-heading" data-cy="ActivityHeading">
    <span jhiTranslate="donorunApp.activity.home.title">Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="donorunApp.activity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity"
        [routerLink]="['/activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donorunApp.activity.home.createLabel"> Create a new Activity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
    <span jhiTranslate="donorunApp.activity.home.notFound">No activities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="donorunApp.activity.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="distance">
            <span jhiTranslate="donorunApp.activity.distance">Distance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="avgPace">
            <span jhiTranslate="donorunApp.activity.avgPace">Avg Pace</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="movingTime">
            <span jhiTranslate="donorunApp.activity.movingTime">Moving Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calories">
            <span jhiTranslate="donorunApp.activity.calories">Calories</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="avgHeartRate">
            <span jhiTranslate="donorunApp.activity.avgHeartRate">Avg Heart Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sportType">
            <span jhiTranslate="donorunApp.activity.sportType">Sport Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="imageUrl">
            <span jhiTranslate="donorunApp.activity.imageUrl">Image Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valid"><span jhiTranslate="donorunApp.activity.valid">Valid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="publicActivity">
            <span jhiTranslate="donorunApp.activity.publicActivity">Public Activity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amountOfMoney">
            <span jhiTranslate="donorunApp.activity.amountOfMoney">Amount Of Money</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wasPaid">
            <span jhiTranslate="donorunApp.activity.wasPaid">Was Paid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activityDate">
            <span jhiTranslate="donorunApp.activity.activityDate">Activity Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="donorunApp.activity.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="account.id">
            <span jhiTranslate="donorunApp.activity.account">Account</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/activity', activity.id, 'view']">{{ activity.id }}</a>
          </td>
          <td>{{ activity.title }}</td>
          <td>{{ activity.distance }}</td>
          <td>{{ activity.avgPace }}</td>
          <td title="{{ activity.movingTime }}">{{ activity.movingTime | duration }}</td>
          <td>{{ activity.calories }}</td>
          <td>{{ activity.avgHeartRate }}</td>
          <td jhiTranslate="{{ 'donorunApp.SportType.' + activity.sportType }}">{{ activity.sportType }}</td>
          <td>{{ activity.imageUrl }}</td>
          <td>{{ activity.valid }}</td>
          <td>{{ activity.publicActivity }}</td>
          <td>{{ activity.amountOfMoney }}</td>
          <td>{{ activity.wasPaid }}</td>
          <td>{{ activity.activityDate | formatMediumDate }}</td>
          <td>{{ activity.createdDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="activity.account">
              <a [routerLink]="['/fitness-account', activity.account?.id, 'view']">{{ activity.account?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(activity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activities && activities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
