<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="donorunApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.amountOfMoney" for="field_amountOfMoney">Amount Of Money</label>
          <input
            type="number"
            class="form-control"
            name="amountOfMoney"
            id="field_amountOfMoney"
            data-cy="amountOfMoney"
            formControlName="amountOfMoney"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.activity" for="field_activity">Activity</label>
          <select class="form-control" id="field_activity" data-cy="activity" name="activity" formControlName="activity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="activityOption.id === editForm.get('activity')!.value?.id ? editForm.get('activity')!.value : activityOption"
              *ngFor="let activityOption of activitiesCollection; trackBy: trackActivityById"
            >
              {{ activityOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.transactionGroup" for="field_transactionGroup"
            >Transaction Group</label
          >
          <select
            class="form-control"
            id="field_transactionGroup"
            data-cy="transactionGroup"
            name="transactionGroup"
            formControlName="transactionGroup"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionGroupOption.id === editForm.get('transactionGroup')!.value?.id
                  ? editForm.get('transactionGroup')!.value
                  : transactionGroupOption
              "
              *ngFor="let transactionGroupOption of transactionGroupsSharedCollection; trackBy: trackTransactionGroupById"
            >
              {{ transactionGroupOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
