<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="donorunApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.sumOfMoney" for="field_sumOfMoney">Sum Of Money</label>
          <input
            type="number"
            class="form-control"
            name="sumOfMoney"
            id="field_sumOfMoney"
            data-cy="sumOfMoney"
            formControlName="sumOfMoney"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.message" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.wasPaid" for="field_wasPaid">Was Paid</label>
          <input type="checkbox" class="form-check" name="wasPaid" id="field_wasPaid" data-cy="wasPaid" formControlName="wasPaid" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.dateOfPayment" for="field_dateOfPayment">Date Of Payment</label>
          <div class="d-flex">
            <input
              id="field_dateOfPayment"
              data-cy="dateOfPayment"
              type="datetime-local"
              class="form-control"
              name="dateOfPayment"
              formControlName="dateOfPayment"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="donorunApp.transaction.recipient" for="field_recipient">Recipient</label>
          <select class="form-control" id="field_recipient" data-cy="recipient" name="recipient" formControlName="recipient">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                moneyRecipientOption.id === editForm.get('recipient')!.value?.id ? editForm.get('recipient')!.value : moneyRecipientOption
              "
              *ngFor="let moneyRecipientOption of moneyRecipientsSharedCollection; trackBy: trackMoneyRecipientById"
            >
              {{ moneyRecipientOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="donorunApp.transaction.activities" for="field_activities">Activities</label>
          <select class="form-control" id="field_activities" data-cy="activities" multiple name="activities" formControlName="activities">
            <option
              [ngValue]="getSelectedActivity(activityOption, editForm.get('activities')!.value)"
              *ngFor="let activityOption of activitiesSharedCollection; trackBy: trackActivityById"
            >
              {{ activityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
