<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sportsman">
      <h2 data-cy="sportsmanDetailsHeading"><span jhiTranslate="donorunApp.sportsman.detail.title">Sportsman</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sportsman.id }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.sportsman.user">User</span></dt>
        <dd>
          <span>{{ sportsman.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="donorunApp.sportsman.company">Company</span></dt>
        <dd>
          <div *ngIf="sportsman.company">
            <a [routerLink]="['/company', sportsman.company?.id, 'view']">{{ sportsman.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sportsman', sportsman.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
