<div>
  <h2 id="page-heading" data-cy="FitnessAccountHeading">
    <span jhiTranslate="donorunApp.fitnessAccount.home.title">Fitness Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="donorunApp.fitnessAccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fitness-account"
        [routerLink]="['/fitness-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donorunApp.fitnessAccount.home.createLabel"> Create a new Fitness Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fitnessAccounts?.length === 0">
    <span jhiTranslate="donorunApp.fitnessAccount.home.notFound">No fitnessAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fitnessAccounts && fitnessAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.fitnessAccountType">Fitness Account Type</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.url">Url</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.nickname">Nickname</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.isActive">Is Active</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="donorunApp.fitnessAccount.employee">Employee</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fitnessAccount of fitnessAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fitness-account', fitnessAccount.id, 'view']">{{ fitnessAccount.id }}</a>
          </td>
          <td jhiTranslate="{{ 'donorunApp.FitnessAccountType.' + fitnessAccount.fitnessAccountType }}">
            {{ fitnessAccount.fitnessAccountType }}
          </td>
          <td>{{ fitnessAccount.url }}</td>
          <td>{{ fitnessAccount.nickname }}</td>
          <td>{{ fitnessAccount.isActive }}</td>
          <td>{{ fitnessAccount.createdDate | formatMediumDatetime }}</td>
          <td>
            {{ fitnessAccount.employee?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fitness-account', fitnessAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fitness-account', fitnessAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fitnessAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
